{% extends 'base.html' %}

{% block 'content' %}
<div class="container">

    <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
        <h3 class="text-center">
            Contáctanos
        </h3>

        <div>
    
            <form action="/contacto" method="post">
                {% csrf_token %}
                <!--{{ form }}-->

                {{ form.non_field_errors }}

                <div class="mb-3 text-center">
                    <label for="{{ form.customer_name.id_for_label }}" class="form-label">
                        {{ form.customer_name.label_tag }}
                    </label>
                    <div>
                        {{ form.customer_name }}
                    </div>
                    <div class="text-danger">
                        {{ form.customer_name.errors }}
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <label for="{{ form.customer_email.id_for_label }}" class="form-label">
                        {{ form.customer_email.label_tag }}
                    </label>
                    <div>
                        {{ form.customer_email }}
                    </div>
                    <div class="text-danger">
                        {{ form.customer_email.errors }}
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <label for="{{ form.message.id_for_label }}" class="form-label">
                        {{ form.message.label_tag }}
                    </label>
                    <div>
                        {{ form.message }}
                    </div>
                    <div class="text-danger">
                        {{ form.message.errors }}
                    </div>
                    <br>
                    <input type="submit" value="Enviar">
                </div>
                
            </form>
        </div>
    </div>

</div>
{% endblock %}
