<!DOCTYPE html>
<html lang="en">
  
<body>
    {% extends 'base.html' %}
    {% block 'content' %}
    <div class="container pt-3 ">
        <div class="fw-normal mb-3 text-center">
            <h6 class="display-6 fst-italic ">Exclusivo socios</h6> 
            <h5 class="fw-normal text-secondary">Aquí encontrarás productos exclusivos para socios</h5>
        </div>

        <div class="fw-normal mb-3 h-100 p-5 text-warning bg-dark rounded-3">
          <h4>Bienvenido {{user.get_username}}! </h4> <h5 class="fw-normal text-secondary">Aquí encontrarás productos exclusivos para socios</h5>
          <a href="{% url 'contacto' %}" class="btn btn-outline-light">
              Contáctanos
          </a>
          </div>

        <div class="row">
            {% for flan in private_flans %}
            
            <div class="container col-6 col-md-4 col-lg-3 mt-2">
                <img class="card-img-top h-50" src="{{ flan.image_url }}" alt="Card image cap">
                <div class="card h-70 p-1 pb-0 bg-light">
                <h5 class="card-title text-sm-start fw-bold">{{ flan.name }}</h5>
                <div class="card-body ps-0 px-1 py-2">
                    <p class="card-text">{{ flan.description }}</p>
                     <hr class="dropdown-divider">
                    <ul class="list-inline text-end card-text">
                        
                        <li class="list-inline-item text-secondary h6 ps-2">{{ flan.price }}</li>
                    </ul>
                </div>
                </div>
            </div>
            {% endfor %}
           
        </div>

        <div class="d-grid col-4 mx-auto mt-0 mb-4">
            <h6 class="fst-italic text-center">Más beneficios...</h6>
        <button type="button" class="btn btn-outline-secondary text-center m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Quiero Sin Azúcar
          </button>
          
          <!-- Modal -->
          <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">En OnlyFlans pensamos en todas las necesidades</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h5 class="fw-light">Tenemos productos elaborados con endulzantes naturales, 0% azúcar</h5>
                    <h5 class="fw-normal">Recuerda pedirlos con 48 hrs de anticipación</h5>
                    
                    <div class="text-center m-2">
                        <a href="{% url 'zero_azucar' %}" class="btn btn-outline-secondary">
                            Ir </a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>